@charset "UTF-8";
@font-face {
    font-family:'Bebas Neue';
    src: url('fontes/BebasNeue-Regular.ttf')
    format('truetype');
}
@font-face {
    font-family:'Android';
    src: url('fontes/idroid.otf')
    format('opentype');
}
:root{
    --cor0: #063D1E;
    --cor1: #2FA866;
    --cor2: #3DDC84;
    --cor3: #83E1AD;
    --cor4: #C5EBD6;
    --fonte0: Arial, Helvetica, sans-serif;
    --fonte01: 'Bebas Neue', Helvetica, sans-serif;
    --fonte02: 'Android', sans-serif;
}
body{
    background-color: var(--cor3);
    margin: 0px;
}
header{
    background-image: linear-gradient(359deg, var(--cor0), var(--cor2));
    
}
h1#titulo01{
    margin: 0px;
    padding: 20px;
    color: white;
    text-align: center;
    font-family: var(--fonte01);
    font-weight: 100;
    font-size: 300%;
    text-shadow: 2px 2px 2px black;
}
h2#titulo02{
    text-align: center;
    color: rgba(255, 255, 255, 0.911);
    font-family: var(--fonte0);
    font-size: 150%;
    font-weight: 100;
    background-image: none;
    text-shadow: 1px 1px 1px black;
}
h1#subt01{
    font-family: var(--fonte02);
    font-size: 1.8em;
    font-weight: normal;
    color: var(--cor0);
}
h2{
    font-family: var(--fonte02);
    font-weight: normal;
    color: var(--cor0) ;
    background-image: linear-gradient(90deg, var(--cor3), white);
}
nav{
    padding: 15px;
}
nav > a{
    color: white;
    padding-right: 15px;
    text-decoration: none;
    font-size: 19px;
    text-shadow: 1px 1px 1px black;
}
nav > a:hover{
    text-decoration: underline;
    background-color: #3DDC84;
    padding: 10px;
    border-radius: 10px;
}

main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    
    
}
article{
   display: block; 
}
p{
    text-indent: 20px;
    font-family: var(--fonte0);
    font-size: 15px;
    line-height: 2.0em;
}
.midias{
    display: flex;
    justify-content: center;
}
.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}
.txtcor{
    color: var(--cor0);
    font-weight: bolder;

}
.textlink{
    text-decoration: none;
    color: var(--cor0);
    font-weight: bold;
}
.textlink:hover{
    text-decoration: underline;
}
div.video{
    position: relative;
    background-color: #063D1E;
    height: 0px;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 15px;
    padding-bottom: 59%;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
aside{
    background-color: var(--cor3);
    border-radius: 10px;
    padding-bottom: 10px;
    

}
aside > h1{
    background-color: var(--cor1);
    color: white;
    padding: 10px;
    border-radius:  10px 10px 0px 0px ;
    

}
aside > p{
    padding:  0px 10px 0px  10px;
   
}
ul{
    list-style-type: '\2714\0020\0020';
    columns: 2;
    list-style-position: inside;
}
footer{
    background-color: #063D1E;
    color: white;
    text-align: center;
    margin-top: 20px;
    padding: 2px;
}
footer > p {
    margin: 0px;
}

