@charset "UTF-8";
body{
    background-color: slategray;
    margin: 0px;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    background-color: white;
    padding: 10px;
    margin: 10px;
    box-shadow: 3px 1px 3px black;
}
nav{
    background-color: silver;
    padding: 3px;
}
nav > a{
    color: brown;
    margin-right: 5px;
    text-decoration: none;
}
nav > a:hover{
    text-decoration: underline;
}
main{
    background-color: white;
    padding: 10px;
    margin: 10px; 
    border-radius: 20px 5px;  
}
article{
    background-color: silver;
    padding: 5px;
}
article > p{
    text-indent: 5px;
}
#radio{
    margin-top: 5px;
}

#bola{
    background-color: white;
    height: 100px;
    width: 100px;
    margin: 10px;
    border-radius: 50%;

}
#rodape{
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
}
#rodape >p{
    margin: 0px;
}